
{% extends 'registration/base.html' %}
{% block head-extra %}{% endblock head-extra %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="spacer10"></div>
        <h2 class="text-white">Heinz Event Management Login</h2>
        <form method="post">
            {% csrf_token %}
            <p><input class="form-control background-white" type="text" name="username" autofocus="" required="" id="id_username" placeholder="Username"></p>
            <p><input class="form-control background-white" type="password" name="password" required="" id="id_password" placeholder="Password"></p>
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
    </div>
    <div class="col-7"></div>
</div>
{% endblock content %}