html,body {
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1.25rem;
    background-image: linear-gradient(-45deg, #ffffff 46%,#e0e0e0 49%,#e0e0e0 51%,#ffffff 55%);
    background-size: .5rem .5rem;
    color: #000;
    font-weight: 400;
    line-height: 1.5rem;
    overflow-x: hidden;

}

body,#bodyTable,#bodyCell{
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.hr.hr--small {
    height: 0.0625rem;
    width: 6.25rem;
}

.hr {
    background-color: #e0e0e0;
    text-align: left;
    max-width: none;
    border-width: .0625rem 0 0;
    border-style: solid;
    border-color: transparent;
    display: block;
    height: .0625rem;
    margin: 1rem 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem;
}

/*.navbar-nav li a {*/
    /*line-height: 50px;*/
/*}*/

.spacer10 {
    height: 10px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 10px;
    border: 0;
    display: block;
}

.spacer5 {
    height: 15px;
    width: 100%;
    font-size: 0px;
    margin: 0;
    padding: 15px;
    border: 0;
    display: block;
}

.col-back {
    background-color: #F0F8FF;
}
.ui-datepicker {
   background: #ffffff;
   border: 1px solid #555;
   color: #000000;
}

.header {
    background: #000 url("/static/images/hnz_col_logo_white_w_padding.png") no-repeat;
    height: 88px;
    width: 100%;
}

.header-text {
    color: #000000;
    text-align: center;
    font-size: 2em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    vertical-align: middle;
}

.subheader-text {
    color: #000000;
    text-align: center;
    font-size: 1.5em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    vertical-align: middle;
}

.cmu_red_bg {
    background-color: #ba0000;
}


.cmu-black-bg {
    background: #000;
}

.text-white {
    color: #ffffff;
}

.cmu_red_text {
    color: #ba0000;
}

.cmu-h1 {
    font-style: normal;
    font-size: 2.25rem;
    line-height: 2.25rem;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    padding: 0;
 }
@media screen and (max-width: 600px) {
    .cmu-h1{
        font-size: 1.5rem !important;
    }
}

.cmu-h6 {
    display: block;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    font-style: normal;
}
.display-off {
  display: none !important;
}
.display-on {
  display: block !important;
}