{% extends 'events/base.html' %}
{% load staticfiles %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block content %}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <h2 class="card-header cmu_red_bg text-white">404</h2>
                <div class="card-body">
                    <h5 class="card-title">Page not found.</h5>
                    <p class="card-text">
                        The page you are seeking cannot be found. Please email <a href="mailto:heinz-computing@andrew.cmu.edu">Heinz Computing</a> to report this error.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

{% endblock content %}