{% extends 'event_management/base.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-10">
            <input id="myInput" class='form-control mr-sm-2 col-5' type="text" placeholder="Search..">
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary float-right" href="{% url 'new_event' %}" role="button">New Event</a>
        </div>
    </div>
    <div class="spacer10"></div>
    <table id="tableToSort" class="table table-sm tablesorter">
        <thread>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Signup By</th>
                <th>Total</th>
                <th>Public</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody id="myTable">
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.start_date|date:'m/d/Y' }} {{ event.start_time }}</td>
                    <td>{{ event.signup_by|date:'m/d/Y' }}</td>
                    <td>{{ event.get_total_attendee_count }}</td>
                    <td>
                        {% if event.active %}
                            <a href="{% url 'change_event_status' event.id %}" class="btn-sm btn-success float-center" data-toggle="tooltip" data-placement="left" title="Click to deactivate"><i class="far fa-check-square fa-1" aria-hidden="true"></i></a>
                        {% else %}
                            <a href="{% url 'change_event_status' event.id %}" class="btn-sm btn-danger float-center" data-toggle="tooltip" data-placement="left" title="Click to activate"><i class="far fa-square fa-1" aria-hidden="true"></i></a>
                        {% endif %}</td>
                    <td style="white-space: nowrap;">
                        <div class="btn-group" role="group" aria-label="Action buttons">
                            <a href="{% url 'attendee_list' event.id %}" class="btn-sm btn-outline-success" data-toggle="tooltip" data-placement="left" title="View Attendees"><i class="fas fa-users fa-3" aria-hidden="true"></i></a>
                            <a href="{% url 'download_attendee_csv' event.id %}" class="btn-sm btn-outline-success" data-toggle="tooltip" data-placement="left" title="Download Attendees"><i class="fas fa-file-download fa-3" aria-hidden="true"></i></a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Action buttons">
                            <a href="{% url 'event_detail' event.url %} " target="_blank" class="btn-sm btn-outline-success" data-toggle="tooltip" data-placement="left" title="View Event Form"><i class="far fa-eye fa-3" aria-hidden="true"></i></a>
                            <a href="{% url 'edit_event' event.id %}" class="btn-sm btn-outline-success" data-toggle="tooltip" data-placement="left" title="Edit Event"><i class="fas fa-edit fa-3" aria-hidden="true"></i></a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Action buttons">
                            <a href="{% url 'event_trash' event.id %}" class="btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="left" title="Remove"><i class="fas fa-trash-alt fa-3" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
          $('.datepicker').datepicker({
                format: 'mm/dd/yyyy'
          });
        });
    </script>
{% endblock content %}