{% extends 'events/base.html' %}
{% load staticfiles %}
{% block page_title %}{{ title }}{% endblock page_title %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <h1 class="cmu_red_text cmu-h1">{{ event.name}}</h1>
                        <hr class="hr hr--small">
                        {% if not event.show_form_only %}
                            <h6 class="cmu_red_text cmu-h6">WHEN</h6>
                            <p>{{ event.start_date|date:'F j, Y' }}</p>
                            <p>{{ event.start_time}}
                                {% if event.end_time %}
                                    - {{ event.end_time }}
                                {% endif %}</p>
                            <h6 class="cmu_red_text cmu-h6">WHERE</h6>
                            <p>{{ event.location_name }}</p>
                            <p>{{ event.location_address }} {% if event.location_map_url %} <a class="cmu_red_text" href="{{ event.location_map_url }}">(map)</a>{% endif %}</p>

                            <h6 class="cmu_red_text cmu-h6">DESCRIPTION</h6>
                            <p>{{ event.description|safe }}</p>
                        {% endif %}
                        {% if event.is_signup_open %}
                            {% if event.is_at_capacity %}
                                <h2>Sorry, the event is full!</h2><br />
                            {% elif event.is_past_signup_date %}
                                <h2>Sorry, sign up for the event is closed.</h2>
                            {% else %}
                                {% if event.signup_by %}
                                    <h6 class="cmu_red_text cmu-h6">Signup By</h6>
                                    <p>{{ event.signup_by|date:'F j, Y' }}</p>
                                    <p>({% if event.is_today_signup_date %}Today is last day for signup!{% else %}{{ event.signup_by|timeuntil }} left{% endif %})</p>
                                {% endif %}
                                <h6 class="cmu_red_text cmu-h6">Fee</h6>
                                {% if event.fee %}
                                    <p>${{ event.fee }}</p>
                                {%  else %}
                                    <p>This is a free event.</p>
                                {% endif %}
                                <br /><br />

                                <form method="post" id="form1" enctype=multipart/form-data>
                                    {% load crispy_forms_tags %}
                                    {% csrf_token %}
                                    {% crispy form %}
                                    <br />
                                    <button class="btn btn-outline-danger" type="submit" form="form1" value="Submit">{{ button_title }}</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <h2>Sorry, Signup for this event is not open. Please return on {{ event.signup_start|date:'F j, Y' }}</h2>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


{% endblock content %}